
if TARGET_MX6QDL_SECO_Q7_928

config SYS_BOARD
        default "Q7_928"

config SYS_VENDOR
        default "seco"

config SYS_CONFIG_NAME
        default "mx6qdl_seco_q7_928"

config SYS_TEXT_BASE
    default 0x17800000

endif


